*{
    margin: 0;
    padding: 0;
}

body{
    background-color:red;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    border: none;
    font-size: 6vmin;


}

.reset-btn{
    font-size: 1.3rem;
    background-color: rebeccapurple;
    color: white;
    border-radius: 2rem;
    padding: 1rem;
}
